* {
    font-family: sans-serif;
}

.h1-style {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
}
.h2-style {
    font-size: 35px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.time-style {
    border: 2px solid black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 30px;
    right: 20px;
    max-width: 8%;
}

.writer-elements-container, .reader-elements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.note-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.txt-area {
    flex: 1;
    margin-right: 20px;
}

.add-btn {
    align-items: center;
}

.back-btn {
    align-items: center;
    margin-top: 200px;
}

.card {
    width: 18rem;
    margin: 20px;
}
